@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

.react-flow__panel {
  @apply hidden;
}

.active .nav-link {
  background: url("../public/images/nav-gradient-bg.png") lightgray 50% / cover
    no-repeat !important;
}

.table_area .ant-table {
  background-color: transparent !important;
}

.table_area .ant-table-cell {
  background-color: transparent !important;
}
